  body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
      background-color: blueviolet;

  }

  input,
  select,
  button {
      margin: 10px;
      padding: 5px;
  }

  button {
      cursor: pointer;
  }

  p {
      font-weight: bold;
  }