body {
    font-family: 'roboto', sans-serif;
    background-color: black;
}

.row {
    margin: 0;
}

.container {

    padding: 70px 0;

}

p,li{
    color:#444;
    font-size: 14px;
}

h1{
    color: red;
}

header, .navbar{
    background-color: black;
}

#nav-container{
padding-top:  0; 
padding-bottom: 0;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}

.navbar-expand-lg .nav-nav .nav-link{
    padding: 1rem .8rem;
    
   
}
.nav-item {
color: white;
}

img{
    
    width: 600px;
    height: 400px;
    border-radius: 8px;
    margin: 30px;  
    
}

  
.principal-2, p{
    color: white;
    margin: 10px;
}
p{
    color: white;
    text-align: center;
    font-size: large;
}
button{
width: 500px;
padding: 16px 0px;
margin:25px;
border: none;
border-radius: 8px;
outline: none;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 3px;
color: white;
background: red;
cursor: pointer;
position: center;



}